<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.ac.edina.mobile"
        version="1.0.0.0"
        versionCode="1000"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>FieldTripExample</name>
  <description>
    FieldTripExample is a mobile mapping and data collection app.
  </description>
  <author email="example@ed.ac.uk" href="">
    FieldTripExample Team
  </author>

<access origin="" />

  <preference name="webviewbounce" value="true" />
  <content src="index.html" />
</widget>