<div id="annotate-preview-page" data-role="page" data-theme="a">
  {{header}}

  <div class="ui-content">
    <div class="non-map-body-white ui-overlay-shadow">
      <div class="content-header ui-header">
        <h2 class="capitalise"></h2>
      </div>

      <div id="annotate-preview-map"></div>

      <div id="annotate-preview-buttons" class="ui-grid-a">
        <div id="annotate-preview-map-tip" class="ui-block-a">
          {% for item in body["drawElements"] %}
           <div class="draw hide" id="draw-{{item}}">{{body["drawElements"][item]}}</div>
          {% endfor %}
        </div>
        <!-- <div class="ui-block-b" ></div> -->
        <div id="annotate-preview-ok" class="ui-block-a">
          <input type="submit" value="{{body["save"]}}">
        </div>
        <div class="ui-block-b">
          <a data-role="button" data-rel="back">{{body["cancel"]}}</a>
        </div>
      </div>
    </div>

    <div class="map-zoom-buttons">
      <a data-role="button" class="map-zoom-button-in">+</a>
      <a data-role="button" class="map-zoom-button-out">-</a>
    </div>
    <div data-role="controlgroup" data-type="vertical" class="map-control-buttons"></div>

  </div>

  <div id="map-preview-record-popup" data-role="popup">
    <a href="#"
       data-role="button"
       data-theme="b"
       data-icon="delete"
       data-iconpos="notext"
       data-rel="back"
       class="ui-btn-right close">
    </a>
    <div id="annotate-preview-detail">
      <div id="annotate-preview-detail-image"></div>
      <div id="annotate-preview-detail-meta"></div>
    </div>
  </div>
  {{popups}}

  {{footer}}
</div>
