<div id="map-page" data-role="page" data-theme="a">
  {{header}}

  <div data-role="content">
    <div class="non-map-body-white ui-overlay-shadow">
      <h2 class="capitalise"></h2>
      <div id="annotate-preview-detail">
        <div id="annotate-preview-detail-image"></div>
        <div id="annotate-preview-detail-meta"></div>
      </div>

      <div id="annotate-preview-map"></div>
      
      <div id="annotate-preview-buttons" class="ui-grid-a">
        <div id="annotate-preview-map-tip" class="ui-block-a" >{{drag}}</div>
        <div class="ui-block-b" ></div>
        <div id="annotate-preview-ok" class="ui-block-a">
          <input type="submit" data-theme="a" value="Save">
        </div>
        <div class="ui-block-b">
          <a data-role="button" data-theme="a" data-rel="back">{{cancel}}</a>
        </div>
      </div>
    </div>

    <div class="map-zoom-buttons">
      <a data-role="button" class="map-zoom-button-in">+</a>
      <a data-role="button" class="map-zoom-button-out">-</a>
    </div>

  </div>

  {{footer}}
</div>
