<div id="annotate-<%= type %>-<%= index %>" class="image-chooser">
  <div class="ui-grid-a">
    <div class="ui-block-a">
      <a class="annotate-image-take" href="#">
        <img src="css/images/images.png" alt="Take Photo"></a><p>Camera</p>
    </div>
    <div class="ui-block-b">
      <a class="annotate-image-get" href="#">
        <img src="css/images/gallery.png" alt="Choose Photo">
      </a>
      <p>Gallery</p>
    </div>
  </div>
  <div id="annotate-image-size-switch" class="ui-grid-solo">
    <div class="ui-block-a">
      <fieldset data-role="controlgroup" data-type="horizontal">
        <input id="radio-view-a"
               type="radio"
               name="radio-image-size"
               value="imageSizeNormal" <%= normalSelected%> />
        <label for="radio-view-a">Normal</label>
        <input id="radio-view-b"
               type="radio"
               name="radio-image-size"
               value="imageSizeFull" <%=fullSelected%> />
        <label for="radio-view-b">Full</label>
      </fieldset>
      <p>Image Size</p>
    </div>
  </div>
</div>
