<div data-role="header" data-position="fixed">
  <h1>{{data["title"]}}</h1>
  <div class="ui-header-buttons ui-btn-right" data-type="horizontal" >
    {% if "buttons" in data %}
    {% if "platforms" in data %}
    {% for key, items in data["buttons"].iteritems() %}
      {% if platform in items["platforms"] %}
      <a {% for el, item in items.iteritems() %}{% if el != "value" and el != "platforms" %} {{el}}="{{item}}" {% endif %}{% endfor %}>{{items["value"]}}</a>
      {% endif %}
    {% else %}
      {% for key, items in data["buttons"].iteritems() %}
      <a {% for el, item in items.iteritems() %}{% if el != "value" and el != "platforms" %} {{el}}="{{item}}" {% endif %}{% endfor %}>{{items["value"]}}</a>
    {% endfor %}
    {% endfor %}
    {% endif %}
    {% endif %}
    </a>
  </div>
</div>
