<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{header_data["title"]}}</title>

    <!-- default styles -->
    <link rel="stylesheet" href="css/ext/jquery-mobile.css" media="screen">
    <link rel="stylesheet" href="theme/css/jqm-style.css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="theme/css/style.css" type="text/css" media="screen">

    {% if header_data["cordova"] == True %}
    <script src="cordova.js"></script>
    {% endif %}
    <script src="js/ext/jquery.js"></script>
    <script src="js/ext/jquery-mobile.js"></script>
    <script src="js/ext/i18next.js"></script>
    <script data-main="js/main" src="js/ext/requirejs.js"></script>
  </head>

  <body>

    <div id="home-page" data-role="page" data-theme="a" class="sync-page">
      {{header}}

      <div id="home-content" class="non-map-body ui-content" role="main">
      {% for key, sections in body.iteritems() %}
        {% if sections.title.en is defined %}
        <div id="home-page-{{sections.title.en.replace(' ', '-').lower()}}">
          <h2 data-i18n="{{sections.title.i18n}}"></h2>
          {% if sections|length > 0 %}
          <div class="nav-icons ui-grid-{{ _get_letter(sections["items"]) }}">
            {% for item in sections["items"] %}
              {% if sections["items"][item].keys()|length > 0 %}
              <div {% for key, value in sections["items"][item]["div"].iteritems() %} {{key}}="{{value}}" {% endfor %}>
                <a {% for key, value in sections["items"][item]["a"].iteritems() %} {{key}}="{{value}}" {% endfor %}>
                  <img {% for key, value in sections["items"][item]["img"].iteritems() %} {{key}}="{{value}}" {% endfor %}>
                </a>
                <p>{{sections["items"][item]["title"]}}</p>
              </div>
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}
        {{popups}}
      </div>
      {{footer}}
    </div>

    <div id="test-page" data-role="page" data-theme="b" data-fullscreen="false">
      <div id="test-page-sys" class="ui-grid-a">
        <div id="test-page-runall" class="ui-block-a">
          <a data-role="button">Run All</a>
        </div>
        <div class="ui-block-b">
          <a href="index.html" data-role="button">Home</a>
        </div>
      </div>

      <div id="qunit"></div>
      <div>
        <ul data-role="listview" id="qunit-tests-list"></ul>
      </div>
      <a href="index.html">Back</a>
    </div>

  </body>

</html>
