<div id="home-test-create-records-popup"
     data-role="popup"
     data-overlay-theme="a"
     data-theme="b"
     class="ui-corner-all">

  <label for="basic">No of records:</label>
  <input type="number" name="name" id="home-test-create-records-popup-number" value="1">

  <label>
    <input
       id="home-test-create-records-popup-unique"
       type="checkbox"
       checked="checked"> Unique </label>

  <a href="#"
     data-theme="b"
     data-role="button"
     data-inline="true"
     data-rel="back">Cancel</a>
  <a id="home-test-create-records-popup-confirm"
     href="#"
     data-theme="b"
     data-role="button"
     data-inline="true">Create</a>

</div>
