<div id="home-splash-popup" data-role="popup" data-overlay-theme="a" data-theme="b" class="ui-corner-all">
  <a id="close-splash-button" data-role="button" data-theme="b" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>

  <div id="home-splash-popup-content">

    <strong>Warning:</strong>
    <p>Fieldtrip GB is designed for purpose of field data capture.
      We DO NOT recommend Fieldtrip GB for navigation or way finding due
      to possible inaccuracies and limited battery life.</p>

    <p id="home-splash-popup-message"></p>
    <div>
      <img src="css/images/edina-logo-sm.png" alt="EDINA logo">
      <img src="css/images/jisc-logo-sm.png" alt="JISC logo">
    </div>
    <a data-role="button" data-inline="true" data-theme="b">OK</a>
  </div>
</div>
