<div id="home-splash-popup" data-role="popup" data-overlay-theme="a" data-theme="b" class="ui-corner-all">
  <a id="close-splash-button" data-role="button" data-theme="b" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>

  <div id="home-splash-popup-content">

    <strong>Warning:</strong>
    <p>
    <span>{{data.app_name}}</span>&nbsp;<span data-i18n="index:splash_text">{{data.text.default}}<span>
    </p>

    <p id="home-splash-popup-message"></p>
    <div>
      {{data["logo1"]}}
    </div>
    <a data-role="button" data-inline="true" data-theme="b">OK</a>
  </div>
</div>
