<div id="map-page" data-role="page" data-theme="a">
  {{header}}

  <div class="ui-content" role="main">
    <div id="map" class="map"></div>

    <div class="map-zoom-buttons">
      <a data-role="button" class="map-zoom-button-in">+</a>
      <a data-role="button" class="map-zoom-button-out">-</a>
    </div>

    <div id="map-records-buttons" class="ui-grid-b">
      <div id="map-records-buttons-list" class="ui-block-a">
        <a data-i18n="{{body.list.i18n}}" href="saved-records.html" data-role="button">{{body.list.en}}</a>
      </div>
      <div class="ui-block-b"></div>
      <!--div id="map-records-buttons-ok" class="ui-block-c">
        <a data-role="button">
          <span>Show</span>&nbsp;<span data-i18n="{{body.records.i18n}}">{{body.records.en}}</span>
        </a>
      </div-->
      <div class="ui-block-c">
        <a class="sync-upload-button-no-redirect" data-role="button">{{body.upload.en}}</a>
      </div>
    </div>
  </div>

  <div id="map-record-popup" data-role="popup">
    <a href="#" data-role="button" data-theme="b" data-icon="delete" data-iconpos="notext" class="ui-btn-right close">
    </a>
    <h3></h3>
    <div id="map-record-popup-text"></div>
  </div>

  {{popups}}

  {{footer}}
</div>
