<div id="saved-records-page" data-role="page" data-theme="b">

    {{header}}

    <div data-iscroll="" data-role="content">
        <div class="non-map-body-white ui-overlay-shadow">
            <div id="saved-records-page-header" class="ui-grid-a ui-header">
                <div class="ui-block-a">
                    <h2>{{body["view-records"]}}</h2>
                </div>
                <div class="ui-block-b ui-btn-right" data-role="controlgroup" id="layout-toggle"  data-type="horizontal" >
                    {% if "buttons" in body%}
                        {% if body["buttons"]|length > 0 %}
                            {% for key, items in body["buttons"].iteritems() %}
                                <a {% for el, item in items.iteritems() %} {{el}}="{{item}}" {% endfor %}>{{items["value"]}}</a>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div id="saved-records-list" class="non-map-content">
                <ul id="saved-records-list-list" data-role="listview" data-filter="true">
                </ul>
            </div>
        </div>
    </div>

    {{popups}}

    {{footer}}

</div>
