<div id="saved-records-delete-popup"
    data-role="popup"
    data-overlay-theme="a"
    class="ui-corner-all">
 <div data-theme="d" class="ui-corner-all ui-content">
   <p>{{data["question"]}}
     <span id="saved-record-delete-popup-name"></span>?
   </p>
   <a href="#"
      data-theme="a"
      data-role="button"
      data-inline="true"
      data-rel="back">{{data["cancel"]}}</a>
   <a id="saved-record-delete-confirm"
      href="#"
      data-theme="a"
      data-role="button"
      data-inline="true">{{data["delete"]}}</a>
 </div>
</div>
