<li id="<%= id %>">
<div class="ui-grid-b">
    <div class="ui-block-b saved-records-view">
        <a href="#"><%= annotation.record.name %></a>
    </div>
    <div class="ui-block-c">
        <a href="#" class="saved-records-delete" data-role="button" data-icon="delete" data-iconpos="notext" data-theme="a"></a>
    </div>

    <div class='record-extra'>

        <% _.each(fields, function(field) { %>

        <%type = records.typeFromId(field.id)%>

        <% if (field.label === "Description") { %>
            <p class='ellipsis'><%=field.val%></p>
            <!-- <div> -->

            <!--     <img class="saved-records-view" src="http://news.bbcimg.co.uk/media/images/73583000/jpg/_73583985_kerrylavrovpa.jpg" width=100%"/> -->

            <!-- </div> -->
        <%}%>

        <% if (type === "image") { %>
        <!-- <div> -->
            <img class="saved-records-view" src="<%=field.val%>" width=100%"/>
        <!-- </div> -->
        <%}%>

        <% if (type === "audio") { %>
        Put an icon for an audio recording here
        <%=field.val%>    
        <%}%>

        <% }); %>


    </div>


</div>
</li>
