<div id="saved-records-page" data-role="page" data-theme="a">

    {{header}}

    <div data-iscroll="" class="ui-content" role="main">
        <div class="non-map-body-white ui-overlay-shadow">
            <div id="saved-records-page-header" class="ui-grid-b ui-header">
                <div class="ui-block-a">
                    <h2>{{body["view-records"]}}</h2>
                </div>
                <div class="ui-block-b" data-role="controlgroup" id="layout-toggle" data-type="horizontal">
                    {% if "buttons-toggle" in body%}
                        {% if body["buttons-toggle"]|length > 0 %}
                            {% for key, items in body["buttons-toggle"].iteritems() %}
                                <a {% for el, item in items.iteritems() %} {{el}}="{{item}}" {% endfor %}>{{items["value"]}}</a>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="ui-block-c ui-header-buttons ui-btn-right" data-type="horizontal">
                    {% if "buttons-normal" in body%}
                        {% if body["buttons-normal"]|length > 0 %}
                            {% for key, items in body["buttons-normal"].iteritems() %}
                                <a {% for el, item in items.iteritems() %} {{el}}="{{item}}" {% endfor %}>{{items["value"]}}</a>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div id="saved-records-list" class="non-map-content">
                <ul id="saved-records-list-list" data-role="listview" data-filter="true">
                </ul>
            </div>
        </div>
    </div>

    {{popups}}

    {{footer}}

</div>
