<div id="settings-page" data-role="page" data-theme="a">

  {{header}}

  <div data-iscroll="" data-role="content">
    <div class="non-map-body-white ui-overlay-shadow">
      <div class="ui-header">
        <h2>Settings</h2>
      </div>

      <div id="su-display">
        <div class="non-map-content">

          <!-- TODO move to offline maps -->
          <!-- <div data-role="fieldcontain"> -->
          <!--   <label for="settings-mapserver-url" class="select">Map Server:</label> -->
          <!--   <select id="settings-mapserver-url" name="settings-entry"> -->
          <!--     <option value="http://fieldtripgb.edina.ac.uk">LIVE</option> -->
	  <!--     <option value="http://dlib-rainbow.edina.ac.uk">rainbow</option> -->
	  <!--     <option value="http://devel.edina.ac.uk:3333">devel</option> -->
	  <!--     <option value="http://dlib-oxgangs.ucs.ed.ac.uk">dlib-oxgangs</option> -->
	  <!--     <option value="http://dlib-tahay.ucs.ed.ac.uk">dlib-tahay</option> -->
	  <!--     <option value="http://dlib-terzis.ucs.ed.ac.uk">dlib-terzis</option> -->
          <!--   </select> -->
          <!-- </div> -->
          <div data-role="fieldcontain">
            <label for="settings-mapserver-url" class="select">Map Server:</label>
            <select id="settings-mapserver-url" name="settings-entry">
	      <option value="bbutchar.hi66llmg">hi66llmg</option>
	      <option value="bbutchar.hhp27hhn">hhp27hhn</option>
            </select>
          </div>

          <!-- TODO move to sync plugin -->
          <!-- <div data-role="fieldcontain"> -->
          <!--   <label for="settings-pcapi-url" class="select">PCAPI:</label> -->
          <!--   <select id="settings-pcapi-url"> -->
          <!--     <option value="http://fieldtripgb.edina.ac.uk">LIVE</option> -->
	  <!--       <option value="http://dlib-rainbow.edina.ac.uk">rainbow</option> -->
	  <!--       <option value="http://dlib-oxgangs.ucs.ed.ac.uk">dlib-oxgangs</option> -->
	  <!--       <option value="http://dlib-oxgangs.ucs.ed.ac.uk:8000">dlib-oxgangs 8000</option> -->
	  <!--       <option value="http://dlib-tahay.ucs.ed.ac.uk">dlib-tahay</option> -->
	  <!--       <option value="http://dlib-terzis.ucs.ed.ac.uk">dlib-terzis</option> -->
          <!--   </select> -->
          <!-- </div> -->

          <!-- TODO move to GPS tracking plugin -->
          <div data-role="fieldcontain">
            <label for="settings-debug-gps">Debug GPS:</label>
            <select id="settings-debug-gps"
                    data-role="slider"
                    name="settings-entry">
              <option value="off">Off</option>
              <option value="on">On</option>
            </select>
          </div>

          <div id="settings-versions">
            <label for="settings-versions-list">Software Versions:</label>
            <ul id="settings-versions-list"
                data-theme="b"
                data-role="listview"
                data-inset="true">
              <li>FTGB<span id="settings-ftgb" class="ui-li-count"></span></li>
              <li>Cordova<span id="settings-cordova" class="ui-li-count"></span></li>
              <li>JQuery<span id="settings-jquery" class="ui-li-count"></span></li>
              <li>JQuery Mobile<span id="settings-jqm" class="ui-li-count"></span></li>
              <li>OpenLayers<span id="settings-ol" class="ui-li-count"></span></li>
            </ul>
          </div>

          <div id="settings-clear-local-storage" data-role="fieldcontain">
            <a href="#" data-role="button">Delete Local Storage</a>
          </div>

        </div>
      </div>
    </div>
  </div>

  {{footer}}

</div>
