<div id="settings-page" data-role="page" data-theme="a">

  {{header}}

  <div class="ui-content">
    <div class="non-map-body-white ui-overlay-shadow">
      <div class="content-header ui-header">
        <h2>Settings</h2>
      </div>

      <div id="su-display">
        <div class="non-map-content">

          {{settings}}

          <div id="settings-versions">
            <label for="settings-versions-list">Software Versions:</label>
            <ul id="settings-versions-list" data-role="listview" data-inset="true">
              <li>{{config["name"]}}<span id="settings-project" class="ui-li-count"></span></li>
              <li>Cordova<span id="settings-cordova" class="ui-li-count"></span></li>
              <li>JQuery<span id="settings-jquery" class="ui-li-count"></span></li>
              <li>JQuery Mobile<span id="settings-jqm" class="ui-li-count"></span></li>
              <li>OpenLayers<span id="settings-ol" class="ui-li-count"></span></li>
              <li><span id="settings-platform"></span><span id="settings-platform-version" class="ui-li-count"></span></li>
              <li>Model<span id="settings-device-model" class="ui-li-count"></span></li>
            </ul>
          </div>

          <div id="settings-clear-local-storage" class="ui-field-contain">
            <a href="#" data-role="button">Delete Local Storage</a>
          </div>

        </div>
      </div>
    </div>
  </div>

  {{footer}}

</div>
