<div id="settings-page" data-role="page" data-theme="a">

  {{header}}

  <div data-iscroll="" class="ui-content">
    <div class="non-map-body-white ui-overlay-shadow">
      <div class="content-header ui-header">
        <h2>Settings</h2>
      </div>

      <div id="su-display">
        <div class="non-map-content">

          {{settings}}

          <div class="ui-field-contain">
            <label for="settings-location-autoupdate">
              Location automatic update:
            </label>
            <select data-role="flipswitch" id="settings-location-autoupdate" name="settings-entry">
              <option value="off">Off</option>
              <option value="on" selected>On</option>
            </select>
          </div>
          <div class="ui-field-contain">
            <label for="settings-compass-enabled">
              Enable compass:
            </label>
            <select data-role="flipswitch" id="settings-compass-enabled" name="settings-entry">
              <option value="off" selected>Off</option>
              <option value="on">On</option>
            </select>
          </div>
          <div id="settings-versions">
            <label for="settings-versions-list">Software Versions:</label>
            <ul id="settings-versions-list" data-role="listview" data-inset="true">
              <li>FTGB<span id="settings-ftgb" class="ui-li-count"></span></li>
              <li>Cordova<span id="settings-cordova" class="ui-li-count"></span></li>
              <li>JQuery<span id="settings-jquery" class="ui-li-count"></span></li>
              <li>JQuery Mobile<span id="settings-jqm" class="ui-li-count"></span></li>
              <li>OpenLayers<span id="settings-ol" class="ui-li-count"></span></li>
            </ul>
          </div>

          <div id="settings-clear-local-storage" class="ui-field-contain">
            <a href="#" data-role="button">Delete Local Storage</a>
          </div>

          <div class="ui-field-contain">
            <label for="settings-accuracy-gps">High Accuracy GPS:</label>
              <select id="settings-accuracy-gps"
                  data-role="flipswitch"
                  name="settings-entry">
                <option value="false">False</option>
                <option value="true">True</option>
              </select>
          </div>

        </div>
      </div>
    </div>
  </div>

  {{footer}}

</div>
