* {

    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */

    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */

    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */


}

.non-map-body h2 {
    padding-bottom: 0.1em;
}
.nav-icons div{
    max-width: 60px;
    padding-left: 0.1em;
}

.nav-icons img{
    padding-bottom: 0.1em;
}

.nav-icons p{
    padding-bottom: 0.2em;
}

.nav-icons img,  .ui-mobile a img  {       
    width: 38px;
    height: 38px;
}

.map-zoom-buttons {
    display:none;

}

#saved-maps-list-list .ui-block-a {
    width: 70%;
}

#saved-maps-list-list .ui-block-b {
    width: 15%;
    display:none;
}

#saved-maps-list-list .ui-block-c {
    width: 15%;
    display:none;
}



body {
/* Setting body margins to 0 to have proper positioning of #container div */
    margin: 0;
}

/* #container div with absolute position and 100% width and height so it takes up whole window */
#container {
    position: absolute;
    width: 100%;
    height: 100%;
}


a,img,div {
   -webkit-user-select: none;  /* prevent copy paste for all elements */
} 

