[install]

; name of the project
name=FieldTripExample

; the source of this file
; e.g <user>@<domain>:<path of config.ini>
; if file is on local filesystem then no syncing will be done
location=etc/config.example

; git repository of project
project=ssh://git@github.com/edina/fieldtrip-example.git

; the install directory
runtime_dir=ftex

; details for config.xml
author_email=example@ed.ac.uk
access_urls=
version=1.0.0.0
url=

; details for mapserver urls
; mapserver_urls=<urls comma separated>
mapserver_urls=
; mapserver_names=<names for the urls above comma separated>
mapserver_names=

; details for pcapi urls <urls comma separated>
pcapi_urls=
; <names for the urls above comma separated>
pcapi_names=


[release]

; the public release root URL
url=<url for releases>

; accounts and machine names hosting the release
hosts=<hosts comma separated>

; keystore for signing offical releases
keystore=<user>@<domain>:<path for keystore file>

; the filesystem directory holding releases
dir=<path>

; email notification details
smtp=<smtp>
sender=<email>

; notified of beta release
email_beta=<mailist>

; notified of official release
email_official=<email>


; the values in the app section becomes config.js in the application
[app]

map_baselayer=osm

;here's what you need for something alternative from osm and you need to provide epsg as well
;map_baselayer=fgb
;map_epsg=EPSG:27700
;map_proj=+proj=tmerc +lat_0=49 +lon_0=-2 +k=0.9996012717 +x_0=400000 +y_0=-100000 +ellps=airy +datum=OSGB36 +units=m +no_defs
;map_layerurl=http://fieldtripgb.edina.ac.uk/
;map_layername=fieldtripgb@BNG
;map_serviceVersion=1.0.0
;map_imgtype=jpg

; the java package of the android application
package=uk.ac.edina.example
