html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    font-size:12px;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    font-family:helvetica;
}

h1{
    font-size: 16px !important;
    font-weight: bold;
    text-shadow: none;
}

h2{
    font-size: 15px;
    font-weight: bold;
    text-shadow: none;
}

h3{
    font-size: 14px;
    font-weight: bold;
    text-shadow: none;
}

div, p{
    font-size: 12px;
}

ul,li {
    padding: 0;
    margin: 0;
    border: 0;
}

a:active, img:active{
    box-shadow: 0px 0px 12px #ff0000 !important;
}

.error{
    color: red;
}

[data-role=content]{
    padding: 0;
}

.large-text{
    font-size: 14px;
}

.capitalise{
    text-transform: capitalize;
}


/********* Header *************/

#header {
    position: absolute;
    z-index: 2;
    top:0; left:0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #d51875;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fe96c9), color-stop(0.05, #d51875), color-stop(1, #7b0a2e));
    background-image: -moz-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
    background-image: -o-linear-gradient(top, #fe96c9, #d51875 5%, #7b0a2e);
    padding: 0;
    color: #eee;
    font-size: 20px;
    text-align: center;
}

#header a{
    color: #f3f3f3;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.ui-header{
    z-index: 1000 !important;
}

.ui-header-buttons{
    height: 92%;
}

.ui-header h1{
    text-align: left !important;
    margin: 0.2em 0 0.2em 1em !important;
    padding: 0.4em 0 0.6em 2.4em !important;
    width: 40%;
    background-image: url("../css/images/icon.png");
    background-repeat: no-repeat;
}

.ui-header .ui-btn{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 90%;
    width: 3.2em;
}

.ui-header .ui-btn .override{
    height: 20%;
}

#home-exit{
    height: 80%;
    width: 5em;
}

#home-settings{
    height: 80%;
    width: 6em;
}


/********* Body *************/

body .ui-loader{
    left: 0;
    right: 0;
    color: black;
    background-color: white;
    opacity: 1;
    min-width: 50%;
    min-height: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.ui-loader h1{
    width: 100%;
    height: 100%;
}

body .ui-loader .ui-icon{
    margin: 10px auto 0 auto;
}

body .ui-loader-textonly{
    min-height: 10%;
}


/********* map Body *************/

.map{
    height: 99.8%;
}

.map-zoom-buttons{
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 2000;
    font-weight: bold;
}

.map-zoom-buttons .ui-btn-text{
   font-size: 3em;
   padding: 0;
   margin: 0;
}

.map-zoom-buttons .ui-btn-inner{
    padding: 0 1em;
}

#map-records-buttons{
    z-index: 1000;
    position: absolute;
    bottom: 15%;
    width: 98%;
    padding-left: 1%;
}

#map-record-popup{
    z-index: 2000;
}

/* Reduce font size of coordinates in map-record-popup text */
#coords {
    font-size: 12px;
}

#map-records-buttons .ui-btn-text{
    font-size: 14px;
}

#map-records-buttons .ui-block-a{
    width: 48%;
}

#map-records-buttons .ui-block-b{
    width: 4%;
}

#map-records-buttons .ui-block-c{
    width: 48%;
}

.user-locate{
    background-image: url("images/locate.png");
}

/********* Non map page *********/

.non-map-body-white{
    position: relative;
    left: 2%;
    background: white;
    min-height: 96%;
    height: 96%;
    width: 96%;
    border-radius: 10px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    overflow: scroll;
}

.non-map-body-start{
    height: 0.2em;
}

.non-map-body h2{
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-top: 0.3em;
    text-align: left;
}

.non-map-body-white h2{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: white;
    color: black;
    margin-bottom: 0px;
    padding-bottom: 0.4em;
    padding-left: 1em;
    padding-top: 0.5em;
    text-align: left;
}

.non-map-content{
    padding: 1em;
    background: white;
    color: black;
}

.nav-icons div{
    max-width: 60px;
    padding-left: 1em;
}

.nav-icons img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-icons p{
    text-align: center;
    font-size: 12px;
    text-shadow: none;
    font-weight: normal;
    padding: 0;
    padding-bottom: 0.4em;
    margin: 0;

}


/********* dialog *********/

.ui-dialog .ui-content {
    background: #222222;
    color: white;
}

/* right position dialog close button */
.ui-dialog .ui-btn-left{
    left: auto;
    right: 10px;
    height: 2.5em;
    width: 2.5em;
}

.ui-dialog .ui-btn-left .ui-btn-inner{
    padding-top: 0.4em;
    padding-left: 0.2em;
}

#splash-popup-dialog-content {
    overflow: auto;
    overflow-x:hidden;
    z-index: 20000;
}

#splash-popup-dialog-content>p{
    font-size: 12px;
}

/********* popup *********/

.ui-popup{
    padding: 1em;
    z-index: 3000;
    text-align: center;
}

.ui-popup-container{
    z-index: 3000;
}

.ui-popup p{
    font-size: 16px;
    padding: 0.2em;
}


/********* EULA/splash *************/

#home-eula-popup{
    width: 90%;
    margin: auto;
}

#home-splash-popup-popup{
    z-index: 110100 !important;
}
#home-splash-popup{
    top: -9em;
    width: 95%;
    margin: auto;
}


/********* Menu *************/

.menu{
    opacity: 1;
}

.menu .ui-btn .ui-btn-inner{
    padding-top: 34px !important;
    padding-bottom: 5px !important;
}

.menu .ui-btn .ui-icon {
    width: 30px!important;
    height: 30px!important;
    margin-left: -15px !important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.home-button .ui-icon{
    background: url("../css/images/home.png") 50% 50% no-repeat;
    background-size: 30px 30px;
}

.map-button .ui-icon{
    background: url("../css/images/map.png") 50% 50% no-repeat;
    background-size: 30px 30px;
}

.capture-button .ui-icon{
    background: url("../css/images/capture.png") 50% 50% no-repeat;
    background-size: 30px 30px;
}

.nav-icons img{
    width: 48px;
    height: 48px;
}

/********* Lists ******************/

#saved-records-page .ui-listview{
    padding-top: 0.2em;
    padding: 0;
    margin: 0 !important;
}

#saved-records-page .ui-listview ul{
    border: none;
}

#saved-records-page .ui-listview li{
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
    border: none;
    border-bottom: #2c3f62 solid 1px;
}

#saved-records-page .ui-listview a,
    text-decoration: none;
}

#saved-records-page .ui-listview fieldset{
    padding: 0;
    margin: 0;
}


/********* Annotation ******************/

#records-list, #records-grid {
    width : inherit;
}

#audio-icon {
    width:20%;
}

/* Reduce sync icon size in grid view */
li.active .saved-records-list-synced-false {
    background-size: 28px 27px;
}

#layout-toggle > div.ui-controlgroup-controls {
    float : right;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    clear: both;
}

.record-extra {
    display : none;
    width : 100% !important;
}

div.record-extra > div > img {
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}

#saved-records-page .ui-listview li.active {
    margin-top: 1%;
    border-bottom : none;
}

/* Alter sync button width for grid view */
#saved-records-list .active .ui-block-a{
    width: 0%;
}

#saved-records-list-list li.active div.ui-block-c {
    margin-right: 1%;
}

#saved-records-list-list li.active div.ui-block-b {
    width : 63%;
}

/* For grid view float left */
#saved-records-page .ui-listview li.active {
    float : left;
}

@media (min-width: 320px) {
    #saved-records-page .ui-listview li.active {
        width: 45% !important;
    }
}

@media (min-width: 480px) {
    #saved-records-page .ui-listview li.active {
        width: 30% !important;
    }
}

@media (min-width: 768px ) {
    #saved-records-page .ui-listview li.active {
        width: 23% !important;
    }
}


#annotate-form{
    position: relative;
    padding: 1.5em 2em 0 2em;
    max-height: 92%;
    overflow: auto;
}

.button-wrapper p{
    font-size: 12px !important;
    text-align: left;
    margin: 0;
    padding: 0;
}


.button-wrapper img{
    max-height: 8em;
    height: auto;
    width: auto;
}

.annotate-audio-taken{
    width: 12em;
    padding: 1em;
}

.annotate-audio-stopped{
    background-image: url("../css/images/play.png");
    background-repeat: no-repeat;
    background-position: 1em 1em;
    height: 4.6em;
    width: 4.6em;
}

.annotate-audio-started{
    background-image: url("../css/images/stop.png");
    background-repeat: no-repeat;
    background-position: 1em 1em;
    height: 4.6em;
    width: 4.6em;
}

#saved-records-list{
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    margin: 0
}

#saved-records-list h3{
    line-height: 150%
}

/* spare column for plugins */
#saved-records-list .ui-block-a{
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

/* record text */
#saved-records-list .ui-block-b{
    margin: 0;
    padding: 1em 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 85%;
}

#saved-records-list .ui-block-b a{
    font-size: 16px;
    font-weight: 900;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    text-decoration: none;
}


/* delete button */
#saved-records-list .ui-block-c{
    width: 15%;
    background-color: rgba(255, 255, 255, 1);
}

#saved-records-page-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    margin: 0;
    padding: 0 0 1em 0;
}

#saved-records-page-header .ui-block-a{
    margin: 0;
    padding: 0;
    width: 60%;
}

#saved-records-page-header .ui-block-b{
    margin: 0;
    padding: 0.2em;
    width: 40%;
}

#settings-page h2,
#annotate-preview-page h2,
#saved-records-page-header h2{
    margin: 0;
    padding: 1em 0 0 1em;
    color: white;
}

#annotate-preview-detail{
    padding-left: 1em;
    width: 96%;
    max-height: 30%;
    overflow: auto;
    margin: 0;
}

#annotate-preview-detail-image{
    padding: 0.6em;
    float: left;
}

#annotate-preview-detail-image img{
    max-height: 8em;
}

#annotate-preview-detail-meta{
    padding-left: 2em;
}

#annotate-preview-detail-meta p{
    font-size: 16px;
}

#annotate-preview-map {
    position: absolute;
    top: 40%;
    height: 45%;
    width: 96%;
    left: 2.5%;
    border: #2c3f62 solid 1px;
}

#annotate-preview-buttons{
    position: absolute;
    top: 88%;
    left: 2.5%;
    width: 96%;
    margin-top: -25px;
    z-index: 2147483647!important;
}
#annotate-preview-map-tip{
    font-weight:bold;
    font-size :14px;
    margin-left:5px;
    width:70%;
    box-shadow:5px 5px 5px;
    z-index: 2147483647!important;
    background-color: white;

}
#annotate-preview-page .map-zoom-buttons{
    position: absolute;
    top: 44%;
}


/********* Settings *************/

#settings-versions label{
    font-size: 16px;
}

#settings-versions li{
    border: none;
}

#settings-page{
    overflow: hidden;
}


/************ scrolling ********************/

#wrapper {
    position:absolute; z-index:1;
    top: 45px;
    bottom: 48px; left: 0;
    width: 100%;
    background: #aaa;
    overflow: auto;
}

#scroller {
    position: absolute; z-index:1;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 100%;
    padding: 0;
}

#scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

#scroller li {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}


/************ footer ********************/

#footer {
    position: absolute; z-index:2;
    bottom: 0; left:0;
    width: 100%;
    height: 48px;
    background-color: #222;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #999), color-stop(0.02, #666), color-stop(1, #222));
    background-image: -moz-linear-gradient(top, #999, #666 2%, #222);
    background-image: -o-linear-gradient(top, #999, #666 2%, #222);
    padding: 0;
    border-top: 1px solid #444;
}

.ui-footer {
    z-index: 10000 !important;
}

/********* OpenLayers *************/

/* display tile borders */
/* .olLayerDiv img{ */
/*     border: red solid 1px; */
/* } */

.olControlAttribution {
    display: none;
}

.olControlScaleLine {
   display: block;
   position: absolute;
   left: 3%;
   top: 12%;
   font-size: xx-small;
}

.olControlScaleLineBottom {
   border: solid 2px black;
   border-bottom: none;
   margin-top:-2px;
   text-align: center;
}

.olControlScaleLineTop {
   border: solid 2px black;
   border-top: none;
   text-align: center;
}

/********* Leaflet *************/

.leaflet-control-zoom{
    display: none;
}

.text-marker-icon{
    background: url("../css/images/textmarker.png") 50% 50% no-repeat;
}

.image-marker-icon{
    background: url("../css/images/imagemarker.png") 50% 50% no-repeat;
}

.custom-marker-icon{
    background: url("../css/images/custommarker.png") 50% 50% no-repeat;
}

.annotate-marker-icon{
    background: url("../css/images/marker.png") 50% 50% no-repeat;
}

.cluster-icon,
.marker-cluster{
    background: url("../css/images/cluster.png") 50% 50% no-repeat;
    background-size: 32px 32px;
}

.marker-icon{
    background: url("../js/ext/images/marker-icon.png") 50% 50% no-repeat;
}

.marker-icon-red{
    background: url("images/marker-icon-red.png") 50% 50% no-repeat;
}

.leaflet-marker-icon div{
    padding: 12px 0 0 0;
    color: black;
    font-size: 10px;
    text-align: center;
}

.leaflet-popup-content{
    color: black;
}

.leaflet-container a.leaflet-popup-close-button {
    width: 30px;
    height: 30px;
    font-size: 28px;
}

#poi-popup img{
    max-width: 100% !important;
    max-height: 100%;
}

#poi-popup{
    height: 100%;
    width: 100%;
}
